<label for="{{id}}">{{label}}</label>
{{#if icon}}
  <i class="icon-{{icon}} {{iconSize}}"></i>
{{/if}}
{{one-way-input
  value=value
  update=update
  class=inputClassNames
  type=type
  id=inputId
  readonly=readonly
  placeholder=placeholder
  disabled=disabled
  readonly=readonly
}}
