<section class="annotated-section">
  <header class="annotated-section-annotation">
    <h2 class="annotated-section-title">Forms</h2>
  </header>
  <div class="annotated-section-content">
    <form>
      <div class="form-group">
        <label for="email">Email address</label>
        {{one-way-input
          value=currentEmail
          update=(action (mut currentEmail))
          class="form-control"
          type="email"
          id="email"
        }}
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="firstname">First name</label>
            {{one-way-input
              value=currentFirstName
              update=(action (mut currentFirstName))
              class="form-control"
              id="firstname"
            }}
          </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
            <label for="lastname">Last name</label>
            {{one-way-input
              value=currentLastName
              update=(action (mut currentLastName))
              class="form-control"
              id="lastname"
            }}
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <label class="control-label" for="amount">Amount</label>
          {{one-way-input
            value=currentAmount
            update=(action (mut currentAmount))
            class="form-control"
            type="number"
            id="amount"
          }}
          <div class="input-group-addon">.00</div>
        </div>
      </div>

      <div class="select">
        <label for="destination">Destination</label>
        {{#power-select
          selected=destination
          options=cities
          onchange=(action (mut destination))
          id="destination"
          class="form-control"
          as |name|
        }}
          {{name}}
        {{/power-select}}
      </div>

      <div class="form-group">
        <label for="comment">Comment</label>
        {{one-way-textarea
          value=currentComment
          update=(action (mut currentComment))
          class="form-control"
          id="comment"
          rows=3
        }}
      </div>

      <div class="checkbox">
        <label>
          {{one-way-checkbox
            isChecked
            update=(action (mut isChecked))
          }}
          Check me out
        </label>
      </div>

      <div class="radio">
        <label>
          {{one-way-radio
            selectedRentalType
            option="apartment"
            update=(action (mut selectedRentalType))
          }}
          Apartment
        </label>
      </div>
      <div class="radio">
        <label>
          {{one-way-radio
            selectedRentalType
            option="house"
            update=(action (mut selectedRentalType))
          }}
          House
        </label>
      </div>
      <div class="radio">
        <label>
          {{one-way-radio
            selectedRentalType
            option="villa"
            update=(action (mut selectedRentalType))
          }}
          Villa
        </label>
      </div>

      <h3>Radio buttons</h3>
      <div class="btn-group" role="group" aria-label="...">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-secondary active">
            {{one-way-radio
              selectedRentalType
              option="apartment"
              update=(action (mut selectedRentalType))
            }}
            Apartment
          </label>
          <label class="btn btn-secondary">
            {{one-way-radio
              selectedRentalType
              option="house"
              update=(action (mut selectedRentalType))
            }}
            House
          </label>
          <label class="btn btn-secondary">
            {{one-way-radio
              selectedRentalType
              option="villa"
              update=(action (mut selectedRentalType))
            }}
            Villa
          </label>
        </div>
      </div>
    </form>

    <h3>Inline form</h3>
    <form class="form-inline">
      <div class="form-group">
        <label for="name2">Name</label>
        {{one-way-input
          value=currentName
          update=(action (mut currentName))
          class="form-control"
          id="name2"
        }}
      </div>

      <div class="form-group">
        <label for="email2">Email address</label>
        {{one-way-input
          value=currentEmail
          update=(action (mut currentEmail))
          class="form-control"
          type="email"
          id="email2"
        }}
      </div>

      <button type="submit" class="btn btn-primary">Send invitation</button>
    </form>
  </div>
</section>

<section class="annotated-section">
  <header class="annotated-section-annotation">
    <h2 class="annotated-section-title">Modal</h2>
  </header>
  <div class="annotated-section-content">
    <button class="btn btn-primary" {{action "toggleModal"}}>Toggle Modal</button>

    {{#if isShowingModal}}
      {{#modal-dialog close="toggleModal"
                      targetAttachment="none"
                      translucentOverlay=true
                      overlay-class='modal in'
                      container-class='modal-dialog'}}
        <div class="modal-content">
          <div class="modal-header">
            <button class="btn btn-sm btn-secondary-inverse btn-round btn-modal-close"
                    type="button" {{action "toggleModal"}}>
              <span>&times;</span>
            </button>
            <h3 class="modal-title">Modal Name or Headline</h3>
          </div>
          <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec luctus felis. Nulla a lacus libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam mollis tortor sodales libero euismod, eget suscipit arcu mollis. Nam nibh libero, tempus eu urna convallis, tempor efficitur ex. Donec molestie nibh ac luctus imperdiet. Nulla vitae vulputate ipsum. Phasellus porta gravida odio, in iaculis quam cursus et. Ut ac vehicula erat. Nulla sapien turpis, dapibus vel pellentesque sed, suscipit sit amet nibh. Pellentesque rhoncus nibh porttitor, posuere nulla quis, auctor nunc. Pellentesque fermentum tempor justo, a interdum nulla. Nullam lacus odio, posuere ut posuere hendrerit, semper non velit.</p>
            <p>Cras sed consequat nunc. Phasellus sed sagittis nibh. Aliquam a vulputate risus. Vestibulum molestie bibendum dolor, vel blandit ipsum malesuada et. Praesent enim nibh, finibus vel luctus id, bibendum vitae eros. Aliquam vel semper diam. Cras elementum molestie eros, ac venenatis quam. Proin fermentum ante eros, mollis vestibulum eros consequat eu. Cras quis lorem vel metus hendrerit porttitor. Nunc hendrerit vitae nunc ut pellentesque. Etiam quis urna ac lorem eleifend ornare. Donec nibh ante, bibendum id pellentesque non, dignissim ut urna. Phasellus congue ultricies ipsum, ut luctus augue pulvinar nec.</p>
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-xs-6">
                <button type="button" class="btn btn-default btn-block" {{action "toggleModal"}}>
                  Close
                </button>
              </div>
              <div class="col-xs-6">
                <button type="button" class="btn btn-primary btn-block">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      {{/modal-dialog}}
    {{/if}}
  </div>
</section>
